
.background {
    background-color: aquamarine;
    background-image: url(../images/forest.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    background-position: center;
    position: relative;
    box-shadow: 5px 10px rgb(36, 209, 62);
}

.bear-details {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 520px;
    bottom: 45px;
    transform: translate(180%);
    animation: bear-details 2s infinite reverse;
}
@keyframes bear-details { 
    0%   {right: 100px}
    50%  {right: 150px}
    100% {left:  300px}
}

.monkey {
    width: 150px;
    height: 150px;
    top: 110px;
    right: 300px;
    position: absolute;
    animation: monkey 2s infinite reverse;
}

@keyframes monkey {
    0%   {right: 200px}
    50%  {right: 200px top 300px}
    100% {right: 100px;}
}